{% extends "layout.html" %}
{% block content %}
{% if session["cheat"] > 1 %}
<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">Game Over!</h4>
  <p>We warned you once, contact us to figure out what happened.</p>
</div>
{% else %}
<p class="h3">That's it, you're done!</p>

<p class="lead">We hope you did well.  If not, no worries, we can try the previous quiz instead.  We have your results, don't hesitate to contact us.</p>
​{% endif %}
<p>Thanks,<br />
The Team</p>

{% endblock %}
