{% extends "layout.html" %}
{% block content %}
<div class="page-header"><h2>Quizzes<h2></div>

<p class="lead">You have made it this far! Now we just need to get more precise about what you know and what you don't know.
For example, we use this to set learning objectives. Before you can take take a quiz, you need to make request for the test you
want to do and we will give you access.</p>
<p><img src="{{ url_for('static', filename='images/welcome-to-quizzes-homepage.png') }}" class="img-fluid" alt="Responsive image"></p>
<div class="jumbotron"><h2>Pick your exam</h2></div>
<p>
  <ul class="list-group" id="catlist">
  {% if cats %}
    {% for f in cats %}
      {% set f = f.replace(".json", "") %}
      <li class="list-group-item"><a href="/quiz/{{ f }}">{{ f | replace("_", " ") }}</a></li>
    {% endfor %}
  {% endif %}
  </ul>
</p>
<br />
{% endblock %}
