{% extends "layout.html" %}
{% block content %}
{% if session["cheat"] > 0 and session["cheat_alert"] %}
<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">Warning!</h4>
  <p>We detected some form of cheating, next try will bring you to the end of this test.</p>
</div>
{% endif %}
<div class="col-12">
  <p class="h2 text-center">Question {{ q + 1 }} / {{ nq }}</p>
  <p class="lead text-center" id="timer">({{ j['timer'] }} seconds left)</p>
  <form id="q" action="/quiz/{{ quizname }}/{{ q + 1 }}" method="post">
    <label class="lead">{{ j['q'] }}</label>
    {% if j.multi == true %}
      {% set checktype = "checkbox" %}
    {% else %}
      {% set checktype = "radio" %}
    {% endif %}

    {% for elt in j['a'] %}
      {% if j.multi == true %}
        {% set name = "a" ~ loop.index %}
      {% else %}
        {% set name = "a" %}
      {% endif %}
      <div class="form-check">
        <input class="form-check-input" type="{{ checktype }}" name="{{ name }}" value="{{ loop.index }}" id="c{{ loop.index }}">
        <label class="form-check-label" for="c{{ loop.index }}">{{ elt.c.keys()[0] }}</label>
      </div>
    {% endfor %}
    <br />
    <button id="next" type="submit" class="btn btn-danger">Next question</button>
  </form>
</div>
{% endblock %}

{% block script %}
<script>
var tmp = setInterval(tmr, 1000);
var left = {{ j['timer'] }};

function tmr() {
  document.getElementById("timer").innerHTML = "(" + left + " seconds left)";
  left--;

  if (left < 0) {
    document.getElementById("q").submit();
  }
}
</script>
{% endblock %}
