{% extends "layout.html" %}
{% block content %}

<p class="h3">Welcome to the {{ quizname | replace("_", " ") }} quiz!</p>

<hr>

<div class="row">
  <div class="col-6">
    <img style="width:100%" src="{{ url_for('static', filename='images/' + quizname + '.png') }}">
  </div>
  <div class="col-6">
    <p class="lead">Ready to do the quiz?  It is timed, so don't hesitate too long.
      Make sure you have the access key which we should have given you by email.
      No password required. Start when you are ready, you only get one try.
  ​  </p>
    <p class="lead">Good Luck !</p>
  </div>
</div>

<p>
  <form id="q" action="/quiz/{{ quizname }}/0" method="post">
    <label for="loginKey">Login key</label>
    <div class="form-group row">
      <div class="col-4">
        <input type="text" class="form-control" id="loginKey" name="key">
      </div>
      <button type="submit" class="btn btn-danger">Enter the quiz</button>
    </div>
  </form>
</p>
<br />
{% endblock %}
